/*
 * Pagination
 */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  &__item {
    width: 1.5rem;
    height: 2.25rem;
    border: 1px solid $themeColor;
    color: $themeColor;
    line-height: 2.25rem;
    text-align: center;

    &.--current {
      background-color: $themeColor;
      color: #ffffff;
    }
  }
}
