/*
 * Section
 */

%__section {
  padding: 3rem 0;
}

%__inner {
  width: min(100%, 62.5rem); // 1000px 左右20pxずつpaddingで、内寸960px
  margin: auto;
  padding: 0 clamp(0.75rem, 2%, 1.25rem);
}

%__heading {
  width: 16.5rem;
  height: 4.5rem;
  margin: auto;
  padding: 1rem;
  background: url("./assets/dec_heading.svg") no-repeat 50% 50% / contain scroll;
  color: $themeColor;
  text-align: center;
}

%__btn {
  width: 13.5rem;
  height: 3.75rem;
  background-color: #000000;
  color: #ffffff;
  line-height: 3.75rem;
  text-align: center;

  &:hover {
    opacity: 0.85;
  }
}
